$default:#300B31;
$line:#C1C1C1;



%nunitoSansBlack-900{
  font-family: 'NunitoSans-Black', sans-serif;
  font-weight: 900;
}
%nunitoSansBold-700{
  font-family: 'NunitoSans-Bold', sans-serif;
  font-weight: 700;
}
%nunitoSansRegular-400{
  font-family: 'NunitoSans-Regular', sans-serif;
  font-weight: 400;
}
%nunitoSansLight-300{
  font-family: 'NunitoSans-Light', sans-serif;
  font-weight: 300;
}